* {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    font-size: 24px;
    padding: 10px 15px;
    background-color: lightblue;
}

h1 {
    margin: 10px 0;
}

.wrapper {
    margin: 20px;
}

.buttons {
    width: fit-content;
    display: flex;
    border-radius: 7px;
}

.active {
    color: white;
    background-color: navy;
}

button:last-child {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

button:first-child {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.status {
    display: flex;
    column-gap: 10px;
    margin: 5px 0;
    font-size: 24px;
}